/* RadialProgressBar.css */
.radial-progress-container {
  display: flex;
  align-items: center;
  border-radius: .5em;
  box-shadow: 1px 2px 3px #ccc;
  padding: 1em;
  width: fit-content;
}

.box {
  display: inline-block;
}

.progress {
  width: 5rem; /* Defina o tamanho do círculo */
  height: auto; /* Defina o tamanho do círculo */
  position: relative;
  background: none;
}

.progress-circle {
  position: relative;
  width: 100%;
  height: 100%;
}

/* RadialProgressBar.css */
.progress-circle circle {
  fill: none;
  stroke-width: 0.8em; /* Reduza a espessura da barra de progresso */
  transform: translate(0.3em, 0.3em); /* Ajuste para centralizar a barra */
  stroke-dasharray: 251;
  transition: stroke-dashoffset 0.3s ease;
}

/* Estilize a div com a classe "progress-text" para exibir o valor da porcentagem no centro do radial */
.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem; /* Tamanho da fonte */
  font-weight: bold;
}

.icon-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0.5em; /* Adicione um espaçamento lateral para separar o ícone/título do radial */
}

.icon-progress {
  font-size: 2em; /* Tamanho do ícone */
  margin-bottom: 0.3em; /* Adicione um espaçamento entre o ícone e o título */
  font-weight: bold;
}

.title-progress {
  font-size: 1.2em; /* Tamanho do título */
  font-weight: bold;
}
