
  
  .container-paciente-profile {
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    border-radius: .5em;
    height: auto;
    width: fit-content;    
}
  
  .header-container {
    padding: 2em;
    margin-bottom: -1em;
  }
  
  .main-heading {   
    margin-left: 4em;
    display: flex;
    color: #fff;  
    font-size: 26px;
  }
  .main-heading h1{
    font-weight: bold;
  }
  .main-heading span{
    font-weight: 500;
  }
  
  .tag {
    background-color: rgba(255, 255, 255, .35);
    border-radius: 20px;
    font-size: 11px;
    padding: 1em 2em;
    margin-left: .5em;
    text-transform: uppercase;
  }  
  .stat-number {
    display: inline-block;
    font-weight: 600;
    margin-left: 4px;
  }
  
  .body-content {
    background-color: #fff;
    color: #555;
    padding: 1em;
    position: relative;
    height: 100%;
  }
  
  .body-image {
    border-radius: 100%;
    box-shadow: 5px 10px 75px rgba(0, 0, 0, .4);
    float: left;
    margin: -90px 0 20px;
    position: relative;
    z-index: 2;
  }
  
  .body-stats {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    float: left;
    margin: -14px 0  0 30px;
    position: relative;
    text-transform: uppercase;
    width: 20%;
  }
  
  .body-stats > span {
    display: inline-block;
    font-weight: 900;
    margin-top: 8px;
  }
  /* style tabs */
  .nav-tabs {
    margin-top: 1em;
    margin-bottom: 1.5em;
    border: none;
    gap: 1em;
  }

  .custom-tab-btn {
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: .8em 2em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    border: 1px solid #ccc;
    color: black;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

  }
  
  .custom-tab-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .custom-tab-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .custom-tab-btn::after {
    content:"";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }
  
  .custom-tab-btn::after {
    background-color: #fff;
  }
  .custom-tab-btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  
  .tab-pane {
    display: none;
  }
  
  .tab-pane.active {
    display: block;
  }
  

  /* end style tabs */
  .body-info {
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: all 600ms ease-out;
  }
  .sessao-grafico{
    width: 65%;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  /* Estilos para telas menores que 768px (por exemplo, smartphones) */
@media (max-width: 768px) {
    .container-paciente-profile {
      max-width: 100%; /* Aumenta a largura máxima para preencher a tela */
      padding: 0.5em; /* Reduz o espaçamento interno */
    }
  
    .header-container {
      flex-direction: column; /* Coloca os elementos em uma coluna */
      align-items: flex-start; /* Alinha à esquerda */
      padding: 1em; /* Ajusta o espaçamento */
    }
  
    .main-heading {
      margin-left: 0; /* Remove a margem à esquerda */
    }
  
    /* Outros ajustes de estilo ... */
  }
  
  
